@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');

h2 {
    font: bold 30px 'Raleway';
}

a {
    color: black;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.search {
    max-width: 1200px;
    height: 24px;
}

.navbar-search {
    max-width: 200px;
    height: 24px;
}

.searchfield-wide {
    width: 90%;
    height: 32px;
}

nav {
    list-style-type: none;
    font: 400 20px 'Raleway';
}

img {
    width: 100%;
    max-height: 80vw;
    object-fit: contain;
}

.section-container {
    max-width: 1000px;
}

/* #content > div:nth-child(2n) {
    background-color: #eee;
} */

.source-text {
    font: bold 13px 'Raleway';
    color: blue;
}

.published-time {
    font: 400 13px 'Raleway';
    color: gray;
}